<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "csslistagem.html" %}
    <title>{{ titulo }}</title>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed">
    <div class="wrapper">
        {% include "admin_top_menu.html" %}
        {% include "admin_left_menu.html" %}
        <div class="content-wrapper">
            {% block master %}
            {% endblock %}
        </div>
        {% include "footer.html" %}
    </div>
    {% include "scriptlistagem.html" %}
</body>

</html>